# Virtualenvs
.venv/
venv/
env/
ENV/
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
dist/
build/
*.egg
pip-wheel-metadata/

# Env files
.env

# Test and tooling
.pytest_cache/
.mypy_cache/
coverage.xml
htmlcov/

# macOS
.DS_Store

# Logs
*.log